@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
:root {
  /* Colors */
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);

  /* Typography */
  --font-family: "Outfit", sans-serif;
  --font-size-body: 15px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Breakpoints */
  --mobile-width: 375px;
  --desktop-width: 1440px;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-light-gray);
  text-align: center;
}

main {
  padding: 1rem 1rem 0 1rem;
  min-height: 97.5vh;
  display: grid;
  place-items: center;
  
}


.qr-card {
  max-width: 18rem;
  padding: 0.8rem;
  padding-bottom: 1.9rem;
  background-color: white;
}
.text-content {
  margin-top: 1rem;
}
h1 {
  font-size: 1.3rem;
}
.desc {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  color: var(--color-grayish-blue);
  margin-top: 0.5rem;
}



/* Shared styles */
.b-r {
    border-radius: 0.8rem;
  }